@model IEnumerable<Forum.Domain.ViewModels.Topic.TopicToShowViewModel>

<h3 class="text-center">All our topics</h3>
<br />

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-header">
            <span style="font-weight:bold">@item.Name</span>
            @foreach (var tag in item.Tags)
            {
                <span style="color:cornflowerblue"> #@tag</span>
            }
        </div>
        <div class="card-body">
            <p class="card-text">@item.Text</p>
            <a class="btn btn-primary" asp-action="Details" asp-controller="Topic" asp-route-id="@item.Id">Read</a>
            @if (item.CanBeEdited)
            {
                <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="Topic" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-outline-primary" asp-action="Delete" asp-controller="Topic" asp-route-id="@item.Id">Delete</a>
            }
        </div>
    </div>
    <br />
}
<form asp-action="Create" asp-controller="Topic" method="get">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-dark">Create topic</button>
            </div>
        </div>
    </div>
</form>
